@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', 'sans-serif';
  --height-input-md: 2.5rem;
}

body {
  font-family: var(--font-sans), Helvetica, sans-serif;
}

.debug {
  border: 1px red solid;
}
