@import 'tailwindcss';

@theme {
  --font-inter: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;

  --color-background: #141414;
  --color-foreground: #181818;
  --color-border: #282828;
  --color-text: #eeeeee;
  --color-secondary: #7c7c7c;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1024px;
  --container-2xl: 1024px;

  --height-input-sm: 2rem;
  --height-input-md: 2.5rem;
  --height-input-lg: 3rem;
}

.debug {
  border: 1px red solid;
}
