# 01_envar.config
option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8081
    DB_CONFIG: mongodb+srv://FILMLIST_ADMIN:UebzsyhPuT1vPjvP@filmlist-ay1hx.mongodb.net/FILMLIST_DB?retryWrites=true&w=majority
    BASE_URL: https://api.themoviedb.org/3
    API_KEY: f232b12b7f9ade28ae71866f4777033a
    JWT_PRIVATE_KEY: filmlist_vv3zKQ6EXqEzCkxg