// COLOURS
$red: #e71d36;
$blue: #2ec4b6;
$yellow: #ff9f1c;


//  FONTS
@font-face {
  font-family: 'Gotham';
  src: url("../../fonts/gotham/GothamBook.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../../fonts/gotham/GothamMedium.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../../fonts/gotham/Gotham-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Black';
  src: url("../../fonts/gotham/Gotham-Black.woff") format("woff");
}

@font-face {
  font-family: 'Gotham Narrow Black';
  src: url("../../fonts/gotham/GothamNarrow-Black.woff") format("woff");
}

$regular: 'Gotham';
$medium: 'Gotham Medium';
$bold: 'Gotham Bold';
$black: 'Gotham Black';
$narrowBlack: 'Gotham Narrow Black';


@mixin headerTxt() {
  font-family: $black;
  font-size: 3em;
  letter-spacing: -.3px;
  line-height: .96em;
  margin: 0;
}

@mixin subHeadingTxt() {
  font-family: $narrowBlack;
  font-size: .85em;
  line-height: 1.15;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@mixin infoTxt() {
  font-family: $medium;
  font-size: .9em;
  letter-spacing: -.3px;
}

@mixin bodyTxt() {
  font-family: $regular;
  font-size: 1em;
  // letter-spacing: -.3px;
  line-height: 1.5em;
}

@mixin bodyTxtBold() {
  font-family: $bold;
  font-size: 1em;
  line-height: 1em;
}

@mixin filter($radius) {
  filter: brightness(60%) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='#{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='#{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
}

@mixin brightness($brightness) {
  filter: brightness($brightness);
}