// COLOURS
$red: #e71d36;
$white: #F2F2F2;
$blue1: #3DF2E0;
$blue2: #35F2D0;
$orange1: #F27405;
$orange2: #F25C05;
$black: #0D0D0D;
$blue1opacity: rgba(61, 242, 224, .1);
$grey: #2a2a2a;
$whitetransparent1: rgba(255, 255, 255, 0.4);
$whitetransparent2: rgba(255, 255, 255, 0.7);

//  FONTS
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

// @font-face {
//   font-family: 'Maven Pro', sans-serif;
//   src: url("../../fonts/netto/NettoPro.otf") format("woff");
// }

// @font-face {
//   font-family: 'Netto Bold';
//   src: url("../../fonts/netto/NettoPro-Bold.otf") format("woff");
// }

$regular: 'Maven Pro';
$bold: 'Maven Pro';

@mixin headerTxt() {
  font-size: 3em;
  line-height: .96em;
  margin: 0;
  letter-spacing: -.3px;
}

@mixin subHeadingTxt() {
  font-size: .85em;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin movieItemTitleTxt() {
  font-size: 1.4em;
  letter-spacing: -.3px;
  font-weight: 600;

  @include media('<=small-desktop') {
    font-size: 1.2em;
  }
}

@mixin movieSubInfoTxt() {
  font-size: .9em;
  letter-spacing: -.3px;
  font-weight: 600;

  @include media('<=small-desktop') {
    font-size: .8em;
  }
}

@mixin infoTxt() {
  font-size: .9em;
  letter-spacing: -.3px;
  font-weight: 600;
}

@mixin bodyTxt() {
  font-size: 1em;
  line-height: 1.7em;
}

@mixin highlightTxt() {
  font-size: 1em;
  line-height: 1em;
  letter-spacing: -.3px;
  font-weight: 600;
}

@mixin subTxt() {
  font-size: .9em;
  font-weight: 500;
}




// FILTERS
@mixin filter($radius) {
  filter: brightness(60%) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1'%3E%3CfeGaussianBlur stdDeviation='#{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='#{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E%3C/svg%3E#a");
}

@mixin brightness($brightness) {
  filter: brightness($brightness);
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}