@import 'tailwindcss';

@theme {
  --color-surface-0: oklch(0.1798 0.0104 248.41);
  --color-surface-1: oklch(0.2185 0.0104 248.41);
  --color-surface-2: oklch(0.3285 0.0104 248.41);
  --color-surface-3: oklch(0.4085 0.0104 248.41);
  --color-text-primary: oklch(0.9491 0 0);
  --color-text-secondary: oklch(0.6931 0 0);
  --color-border-0: oklch(0.2285 0.0104 248.41);
  --color-border-1: oklch(0.2985 0.0104 248.41);

  /* --height-input-sm: 2rem;
  --height-input-md: 2.25rem;
  --height-input-lg: 2.5rem; */

  --size-icon-md: 1.5em;
}

body {
  font-family: var(--font-sans), Helvetica, sans-serif;
}

.debug {
  border: 1px red solid;
}
