@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-background-0: oklch(0.1798 0.0104 248.41);
  --color-background-1: oklch(0.2185 0.0104 248.41);
  --color-background-2: oklch(0.2985 0.0104 248.41);
  --color-background-3: oklch(0.3285 0.0104 248.41);
  --color-foreground-0: oklch(0.9491 0 0);
  --color-foreground-1: oklch(0.6931 0 0);

  --color-primary: oklch(0.8524 0.2744 140.03);
  --color-primary-foreground: oklch(0.9205 0.0903 140.03);

  --color-ring: #0466ff;

  /* --color-surface-0: oklch(0.1798 0.0104 248.41);
  --color-surface-1: oklch(0.2185 0.0104 248.41);
  --color-surface-2: oklch(0.2985 0.0104 248.41);
  --color-surface-3: oklch(0.3285 0.0104 248.41);

  --color-border-0: oklch(0.2285 0.0104 248.41);
  --color-border-1: oklch(0.2985 0.0104 248.41);

  --color-text-primary: oklch(0.9491 0 0);
  --color-text-1: oklch(0.6931 0 0);
  --color-text-2: oklch(0.792 0.0104 248.41); */
}

body {
  font-family: var(--font-sans), Helvetica, sans-serif;
}

.debug {
  border: 1px red solid;
}
