body {
  background: #0D0D0D;
  color: #fff;
  font-family: $regular;
  // width: 1200px;
  margin: 0 auto;
  @include custom-scroll-bar();

  // Preload css background images
  &::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1; // hide images
    content: url('../../images/add-outline.svg') url('../../images/add-outline-orange.svg');
  }

  .container {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // height: 100vh;
    // width: 100vw;
  }

  .movies-container {
    // grid-row-start: 1;
    // grid-column-start: 2;
  }

  a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
  }

  h1 {
    @include headerTxt();
  }

  h3 {
    @include subHeadingTxt();
  }

  .styles_loading-bar__13vNf {
    background: $blue1 !important;
  }

  .btn-primary {
    border: 1px $orange2 solid;
    color: $orange2;
    padding: 16px;
    cursor: pointer;
    margin: 24px 0 0 0;
    font-weight: 600;
    transition: all ease .3s;
    background: transparent;

    &:hover {
      border: 1px $orange1 solid;
      color: $orange1;
    }
  }

  .text-center {
    text-align: center;
  }

}