body {
  background: #000;
  color: #fff;
  font-family: $regular;
  // width: 1200px;
  margin: 0 auto;

  .container {
    // display: grid;
    // grid-template-rows: 35px 35px 35px;
    // grid-template-columns: 35px 1fr;
  }

  .movies-container {
    // grid-row-start: 1;
    // grid-column-start: 2;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  h1{
    @include headerTxt();
  }

  h3 {
    @include subHeadingTxt();
  }
}

.styles_loading-bar__13vNf {
  box-shadow: 0px 0px 40px .5px $red;
  background: $red !important;
}