.favorite-movies-grid {
  margin: 0 calc(6em + 50px) 0 calc(6em + 50px);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template: 130px auto;


  @include media('<=desktop') {
    margin: 0 0 0 calc(6em + 50px);
  }

  @include media('<=small-desktop') {
    grid-template-columns: 1fr;
  }

  @include media('<=tablet') {
    margin: 104px 22px 0;
  }

  @include media('<=phone') {
    margin: 84px 8px 0;
  }

  .favorite-movies-header {
    border-left: 1px $grey solid;
    border-right: 1px $grey solid;
    padding: 83px 52px 0;

    p {
      color: $whitetransparent2;
      font-weight: 600;
    }

    @include media('<=small-desktop') {
      border: none;
    }

    @include media('<=small-desktop') {
      padding: 20px 0px 20px;
    }
  }

  .search-form-container {
    padding: 55px 74px 0 52px;

    @include media('<=small-desktop') {
      grid-row: 3;
      padding: 0 32px 0 0;
    }

    @include media('<=phone') {
      padding: 32px 32px 0 0;
    }
  }

  .favorite-movies-list-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    height: calc(100vh - 1px);
    padding: 70px 32px;
    border-right: 1px $grey solid;
    box-sizing: border-box;
    overflow: hidden;

    @include media('<=small-desktop') {
      grid-column: 1;
      grid-row: 2;
      height: auto;
    }

    @include media('<=tablet') {
      padding: 0px 0px 40px;
      border: none;
    }

    @include media('<=phone') {
      padding: 0px;
    }

    .favorite-movies-list {
      display: grid;
      grid-template-columns: repeat(2, auto);

      @include media('<=small-desktop') {
        grid-template-columns: repeat(4, auto);
      }

      .add-favorite-movie {
        margin: 18px;
        position: relative;

        @include media('<=tablet') {
          margin: 6px;
        }

        img {
          transition: all ease .2s;
          display: block;
          width: 100%;
          border-radius: 0px;
          height: 100%;
          object-fit: cover;
        }

        .placeholder-img {
          user-select: none;
        }

        .top-btns {
          opacity: 0;

          .not-interested-btn {
            cursor: pointer;
          }
        }
      }
    }
  }

  .done-btn {
    margin: 104px 0;
  }
}