header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 1;
  // border: 1px red solid;
  box-sizing: border-box;
  padding: 32px 0;

  @include media('<=tablet') {
    z-index: 20;
    background: transparent;
    transition: padding ease .3s;

    &.active {
      background: $black;
    }
  }

  @include media('<=phone') {
    padding: 18px 0;

    &.active {
      background: $black;
      padding: 12px 0;
    }
  }

  nav {
    display: flex;
  }

  nav.left-nav {
    margin: 0 0 0 32px;

    .logo,
    .search-btn,
    .watchlist-btn {
      cursor: pointer;
    }

    .logo {
      height: 3em;

      @include media('<=phone') {
        height: 2.5em;
      }
    }

    .search-btn,
    .watchlist-btn {
      height: 24px;
      display: flex;
    }

    @include media('<=phone') {
      margin: 0 0 0 18px;
    }

  }

  nav.right-nav {
    margin: 0 48px 0 0;
    justify-content: right;

    @include media('<=small-desktop') {
      margin: 0 32px 0 0;
    }

    @include media('<=phone') {
      margin: 0 18px 0 0;
    }
  }


}