.movie-page-container {
  display: grid;
  grid-template-columns: 72% 28%;
  color: #222;

  .backdrop-container {
    // border: 1px red solid;

    img {
      object-fit: cover;
      width: 100%;
      height: 100vh;
      @include brightness(.7);
    }
  }

  .movie-container {
    background: #fff;
    padding: 5em 3em;

    .movie-title {
      margin: 0 0 12px 0;
    }

    .movie-info {
      @include infoTxt();
      color: rbg(0, 0, 0);
      margin: 0 0 24px 0;
      color: rgba(0, 0, 0, 0.4);

      span {
        margin: 0 6px 0 0;
      }
    }

    .movie-rate {
      margin: 0 0 48px 0;
    }

    .movie-overview {
      @include bodyTxt();
      margin: 0 0 24px 0;
    }

    .movie-genres {
      margin: 0 0 48px 0;

      .movie-genre {
        margin: 0 12px 0 0;
        @include bodyTxtMedium();
      }
    }

    .movie-crew {
      .movie-crew-list {
        display: flex;

        .movie-crew-member {
          margin: 0 24px 0 0;

          .movie-crew-member-name {
            @include bodyTxtMedium();
          }
        }
      }

    }
  }
}