.movie-details-container {

  .movie-container {
    padding: 5em 52px 0;

    @include media('<=tablet') {
      padding: 32px;
      font-size: 1.3em;
    }

    @include media('<=phone') {
      padding: 32px 18px;
      font-size: 1em;
    }

    .movie-title {
      margin: 0 0 12px 0;

    }

    .movie-info {
      @include infoTxt();
      margin: 0 0 24px 0;
      color: $whitetransparent1;

      span {
        margin: 0 12px 0 0;

      }
    }

    .movie-buttons {
      display: flex;
      margin: 0 0 48px 0;

      @include media('<=phone') {
        justify-content: space-between;
      }

      .movie-rate {
        margin: 0 48px 0 0;

        @include media('<=phone') {
          margin: 0;
        }
      }

      .movie-button {
        margin: 0 48px 0 0;

        @include media('<=phone') {
          margin: 0;
        }

      }
    }

    .movie-overview {
      @include bodyTxt();
      margin: 0 0 24px 0;

      @include media('<=phone') {
        width: auto;
      }
    }

    .movie-genres {
      margin: 0 0 48px 0;

      .movie-genre {
        margin: 0 12px 0 0;
        @include highlightTxt();
      }
    }

    .movie-credits {
      margin: 0 0 48px 0;

      .movie-credits-list {
        display: flex;

        .owl-theme {
          position: relative;
        }

        .movie-credit {
          .movie-credit-img {
            margin: 0 0 12px 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }

            .no-profile {
              width: 138px;
              height: 175px;
              background: #222;
            }
          }

          .movie-credit-name {
            @include highlightTxt();
            margin: 0 0 6px 0;
          }

          .movie-credit-role {
            @include subTxt();
            color: $whitetransparent2;
          }
        }

        .movie-crew {
          margin: 0 24px 0 0;
        }
      }

      .movie-cast-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .carousel-btn {
          margin: 0 0 2px 0;
          color: #222;


          .MuiSvgIcon-root {
            height: .6em !important;
            width: .6em !important;
          }
        }
      }
    }
  }
}


.MuiRating-root {
  color: $blue1 !important;
  font-size: 2.5em !important;

  .MuiRating-iconEmpty {
    color: $blue1opacity !important;
  }
}


.MuiIconButton-root {
  color: $orange1 !important;
  padding: 0 !important;

  .MuiSvgIcon-root {
    height: 1.5em !important;
    width: 1.5em !important;
  }


  .MuiIconButton-label.heartIcon {
    color: $orange1;
  }
}

.owl-theme {
  position: absolute;
  width: calc(100%) !important;
}