.profile-btn{
  border-radius: 50%;
  background: #333333;
  height: 48px;
  width: 48px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: 700;
}