.profile-btn-container {
  position: relative;
  height: 48px;
  width: 48px;

  @include media('<=tablet') {
    display: none;
  }

  .profile-btn {
    border-radius: 50%;
    background: $grey;
    height: 100%;
    width: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 700;
  }

  .profile-dropdown {
    position: absolute;
    right: 0;
    background: $grey;
    margin: 12px 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      
      li .link{
        padding: 10px 12px;
        display: inline-block;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}