.search-container {
  margin: 0 calc(6em + 50px) 0 calc(6em + 50px);
  border-left: 1px $grey solid;
  border-right: 1px $grey solid;
  height: calc(100vh - 1px);
  box-sizing: border-box;
  padding: 230px 52px;

  .search-form {
    input {
      background: none;
      border: none;
      font-size: 2em;
      color: $white;

      &:focus {
        outline: none;
      }
    }
  }

  .search-results {
    .result {
      margin: 32px 0;
       
      .movie-title {
        @include movieItemTitleTxt();
        margin: 0 16px 0 0;
      }

      .movie-year {
        @include movieSubInfoTxt();
        color: rgba(255, 255, 255, 0.8);
        margin: 0 16px 0 0;
      }

      .movie-vote-average {
        @include movieSubInfoTxt();
        border: 1px $blue2 solid;
        color: $blue2;
        padding: 2px 4px;
      }
    }
  }
}